<!DOCTYPE html><content="text/html; charset=unicode" >
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TExpress Expense Application</title>
    <h1>Please QRCode Image File of TExpress</h1>
</head>
<body>
    <form action="" method=post enctype=multipart/form-data>
        <p><input type=file name=file>
            <input type=submit value=Upload>
    </form>
    <br>
        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
    <br>
    <div class="col-sm-5 col-sm-offset-1">
        {% if results %}
        <h2>ticket information</h2>
        <div id="results">
            <table class="table table-striped">
                {% for result in results.items()%}
                <tr>
                    <td>{{ result[0]+':' }}</td>
                    <td>{{ result[1][0].decode('utf-8') }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
</body>
</html>
