<!DOCTYPE html><content="text/html; charset=unicode" >
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TExpress Expense Application</title>
    <h1>Please QRCode Image File of TExpress</h1>
</head>
<body>
    <form action="" method=post enctype=multipart/form-data>
        <p><input type=file name=file>
            <input type=submit value=Upload>
        <table class="tsel" border="0">
            <tbody><td colspan="2" align="center">
                <div id="outdiv"><div id="qrfile">
                <canvas id="out-canvas" width="320" height="240"></canvas>
                <div id="imghelp">drag and drop a QRCode here<br>or select a file<input type="file" onchange="handleFiles(this.files)"></div></div></div></td></tr>
            </tbody></table>
    </form>
    <br>
        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
    <br>
    <p><br><b>{{ results }}</b></p>
</body>
</html>
